tensorflow==2.13.0
Pillow==10.0.0
numpy==1.23.5
matplotlib==3.7.1
asgiref==3.8.1
Django==5.2
djangorestframework==3.16.0
sqlparse==0.5.3
tzdata==2025.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers==3.14.0
django-extensions==4.1
six==1.16.0
mariadb==1.1.12