<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="" defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title class="lenguaje"><img src="assets/icon/Lenguage-icon.png">Lenguaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-lenguage-content">
    <ion-list lines="full">
      <ion-item button detail="true" >
        <ion-label>Español (PA)</ion-label>
        <ion-note>Lenguaje en uso</ion-note>
      </ion-item>
      <ion-note>Otros lenguajes</ion-note>
      <ion-item button detail="true" >
        <ion-label>English(US)</ion-label>
      </ion-item>
      <ion-item button detail="true" >
        <ion-label>Francais(FR)</ion-label>
      </ion-item>
      <ion-item button detail="true" >
        <ion-label>Portugues(BR)</ion-label>
      </ion-item>


    </ion-list>
</ion-content>
