<ion-content class="ion-padding ion-text-center">
  <div class="top-section">
    <div class="logo-container">
      <h1>VisioAI</h1>
    </div>
    <div class="camera-preview">
      <video autoplay playsinline width="100%" height="100%" *ngIf="!imageUrl"></video>
      <img [src]="imageUrl" *ngIf="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
      <div class="camera-icon-overlay" *ngIf="!isCameraActive && !imageUrl">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </div>
    </div>
  </div>

  <ion-footer class="ion-no-border">
    <ion-toolbar style="justify-content: center;">
      <ion-button id="upload-button" (click)="takePicture()">
        <ion-icon slot="start" name="image-outline"></ion-icon>
        Subir imagen
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>