<ion-header>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <!-- Elemento 1 -->
    <ion-item class="history-item">
      <div class="square-avatar">
        <img src="assets/images/dog.webp"> 
      </div>
      <ion-label>
        <h2>Perro</h2>
      </ion-label>
      <ion-note slot="end">00:00 AM</ion-note>
    </ion-item>

    <!-- Elemento 2 -->
    <ion-item class="history-item">
      <div class="square-avatar">
        <img src="assets/images/car.webp"> 
      </div>
      <ion-label>
        <h2>Carro</h2>
      </ion-label>
      <ion-note slot="end">00:00 AM</ion-note>
    </ion-item>

    <!-- Elemento 3 -->
    <ion-item class="history-item">
      <div class="square-avatar">
        <img src="assets/images/food.jpg"> 
      </div>
      <ion-label>
        <h2>Comida</h2>
      </ion-label>
      <ion-note slot="end">00:00 AM</ion-note>
    </ion-item>
  </ion-list>
</ion-content>