<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="assets/icon/History-icon.png">
    <ion-title>{{ 'historial' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<!--botones de opciones -->
  <ul>
     <li>
        <ion-button color="dark" id="butto1" shape="round">{{ 'todos' | translate }}</ion-button>
        <ion-button color="light" id="butto2" shape="round" [routerLink]="['/history-nid']">{{ 'no identificados' | translate }}</ion-button>
    </li>
  </ul>

<ion-content>
  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items"
      class="history-item"
      [routerLink]="['/item-details']"
      [queryParams]="{
                imageId: item.imageId,
                name: item.name,
                description: item.description,
                imageUrl: item.imageUrl,
                category: item.category,
                tag: item.tag
}"
      button>
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" alt="Imagen" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.category | translate }}</h2>
        <h1>{{ item.name | translate }}</h1>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
