<!-- demostracion ejecutable en la web del Splash Screen -->
<div *ngIf="showSplash" class="web-splash">
  <img src="assets/splash.png" alt="Splash" />
  <h1>Visio AI</h1>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</div>

<ion-app>
  <ion-split-pane contentId="main-content">
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>VisioAi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar>
    <ion-tab-button tab="1" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="2" [routerLink]="['/image-capture']">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="3" [routerLink]="['/recognition-results']">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
