<ion-app>
  <ion-split-pane contentId="main-content">
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-header>
    <ion-toolbar>
      <ion-title>VisioAi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar [value]="progress"></ion-progress-bar>
  <ion-tab-bar>
    <ion-tab-button tab="1" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="2" [routerLink]="['/image-capture']">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="3" [routerLink]="['/folder']">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
