<!-- demostracion ejecutable en la web del Splash Screen -->
<div *ngIf="showSplash" class="web-splash">
  <img src="assets/splash.png" alt="Splash" />
  <h1>Visio AI</h1>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</div>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-tab-bar>
    <ion-tab-button tab="1" [routerLink]="['/home']">
      <img src="assets/icon/Home-icon.png" style="width: auto; height: auto;">
    </ion-tab-button>
    <ion-tab-button tab="2" [routerLink]="['/image-capture']">
      <img src="assets/icon/Camera-icon.png" style="width: auto; height: auto;">
    </ion-tab-button>
    <ion-tab-button tab="3" [routerLink]="['/history']">
      <img src="assets/icon/History-icon.png" style="width: auto; height: auto;">
    </ion-tab-button>    
    <ion-tab-button tab="3" [routerLink]="['/settings']">
      <img src="assets/icon/Settings-icon.png" style="width: auto; height: auto;">
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
