

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-app{
  display: flex;

}
ion-tab-bar{
  display: flex;
  justify-content: flex-end;
}
ion-progress-bar{
  display: flex;
  justify-content: flex-end;
}