<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="" defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title class="privacidad"><img src="assets/icon/privacity-icon.png">Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-privacy-content">
    <ion-list lines="full">
      
      <ion-item>
        <ion-label slot="start">Cámara</ion-label>
        <ion-toggle slot="end" color="success"></ion-toggle>
      </ion-item>
      <ion-item >
        <ion-label slot="start">Micrófono</ion-label>
        <ion-toggle slot="end" color="success"></ion-toggle>
      </ion-item>
      <ion-item >
        <ion-label slot="start">Imagenes</ion-label>
        <ion-toggle slot="end" color="success"></ion-toggle>
      </ion-item>


      <ion-item button details="true">
        <ion-label slot="start">Politica de Privacidad</ion-label>
      </ion-item>
      <ion-item button details="true">
        <ion-label slot="start">terminos y Condiciones</ion-label>
      </ion-item>


    </ion-list>
</ion-content>
