<ion-content class="ion-padding ion-text-center">
  <div class="logo-container">
    <img src="assets/images/Logo.png">
    <h1>Visio Ai</h1>
  </div>

  <div class="scan-button-container">
    <ion-button id="scan-button" (click)="scanear()" [routerLink]="['/image-capture']">
      <ion-icon slot="icon-only" name="camera-outline" size="large"></ion-icon>
    </ion-button>
    <p class="scan-text">Scan Image</p>
  </div>

  <p class="instruction-text">Point the camera at an object<br>to learn more about it.</p>

  <ion-button id="history-button" fill="clear">
    <ion-icon slot="start" name="time-outline"></ion-icon>
    History
  </ion-button>
</ion-content>