@import '@ionic/angular/css/palettes/dark.class.css';

.settings-content {
    --background: var(--ion-color-light);
  
    ion-list {
      background: transparent;
      padding-bottom: 16px;
      
    }
    ion-label {
      font-family: "Poppins", sans-serif;
      font-size: 1  rem;
    }
  
    ion-item {
      --background: var(--ion-color-light);
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 56px;
      --border-color: var(--ion-color-light-shade);
  
      ion-note {
        color: var(--ion-color-medium);
        font-size: 0.9rem;
      }
    }
  
    .version-info {
      text-align: center;
      color: var(--ion-color-medium);
      font-size: 0.8rem;
      margin-top: 32px;
      padding-bottom: 16px;
    }
  }