<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-content">
  <ion-list lines="full">
    <!-- Opción de Idioma -->
    <ion-item button detail="true" >
      <img src="assets/icon/Lenguage-icon.png" >
      <ion-label> Lenguaje</ion-label>
      <ion-note slot="end">Español</ion-note>
    </ion-item>

    <!-- Opción de Notificaciones -->
    <ion-item>
      <img src="assets/icon/Notification-icon.png">
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled" color="success"></ion-toggle>
    </ion-item>

    <!-- Opción de Escaneo automático -->
    <ion-item>
      <img src="assets/icon/Scanner-icon.png" >
      <ion-label>Escaneo automático</ion-label>
      <ion-toggle slot="end" [(ngModel)]="autoScanEnabled" color="success"></ion-toggle>
    </ion-item>

    <!-- Opción de Tema oscuro -->
    <ion-item>
      <img src="assets/icon/Theme-icon.png" >
      <ion-label>Tema oscuro</ion-label>
      <ion-toggle slot="end" [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" color="success"></ion-toggle>
    </ion-item>

    <!-- Opción de Privacidad -->
    <ion-item button detail="true" [routerLink]="['/privacy']">
      <img src="assets/icon/privacity-icon.png" >
      <ion-label>Privacidad</ion-label>
    </ion-item>
  </ion-list>

  <!-- Versión de la app -->
  <div class="version-info">
    Versión {{appVersion}}
  </div>
</ion-content>