.container{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
}
.image{
    
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    
}
.name{

    height: 10vh;
    display: flex;
}
.description{
    height: 15vh;
    display: flex;
}
.try_again{
    display: flex;
    justify-content: center;
}