<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" size="large" fill="outline" color="dark"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img id="title-icon" src="assets/icon/Capture-icon.png"> {{ itemTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
          <img [src]= "itemImage"zzz>
      <ion-card-header>
      <ion-card-title>{{ itemTitle }}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
    {{ itemDescription }}
    </ion-card-content>
    <ion-button id="resultcontrol" color="dark" fill="outline" shape="round"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <ion-button id="resultcontrol" color="dark" fill="outline" shape="round"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </ion-card>
<div id="player">
<ion-card>
  <ion-progress-bar value="0" buffer="0"></ion-progress-bar>
      <ion-button size="large" fill="clear" id="back"><ion-icon name="play-back"></ion-icon></ion-button>
      <ion-button size="large" fill="clear" id="play/pause"><ion-icon name="play"></ion-icon></ion-button>
      <ion-button size="large" fill="clear" id="advance"><ion-icon name="play-forward"></ion-icon></ion-button>

</ion-card>
</div>

</ion-content>

