<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history" size="large" fill="outline" color="dark"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img id="title-icon" src="assets/icon/Capture-icon.png"> {{ itemTitle | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-info-card [title]= "itemTitle" [description]= "itemDescription" [imageUrl]= "itemImage" [audioSrc]= "audioSrc"></app-info-card>
</ion-content>


